@using Abp.Templates
@using Abp.Core.Enums
<div>
    <form name="templateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.template.Id">@L("Edit"):{{vm.template.displayName}}</span>
                <span ng-if="!vm.template.Id">@L("AddTemplate")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="Title" ng-class="{'edited':vm.template.title}" ng-model="vm.template.title" required maxlength="@Template.MaxTitleLength" />
                <label>@L("TemplateTitle")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="Name" ng-class="{'edited':vm.template.name}" ng-model="vm.template.name" required maxlength="@Template.MaxNameLength" />
                <label>@L("TemplateName")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select auto-focus class="form-control" name="type" ng-class="{'edited':vm.template.type}" ng-model="vm.template.type" required maxlength="@Template.MaxTypeLength">
                    @Html.Raw(ETemplateTypeUtils.GetCtrlStr(null))
                </select>
                <label>@L("TemplateType")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control"  name="TemplateContent" ng-class="{'edited':vm.template.templateContent}"  ng-model="vm.template.templateContent"  rows="30"></textarea>
                <label>@L("TemplateContent")</label>
            </div>


            <input type="hidden" name="Extension" ng-model="vm.template.extension" required maxlength="@Template.MaxExtensionLength" />
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="templateForm.$invalid"><i class="fa fa-save"></i><span>@L("Save")</span></button>
        </div>
    </form>
</div>