@using DM.AbpZeroTemplate.Localization
@using Abp.Templates
@using Abp.Core.Enums
<div ng-controller="cms.views.templates.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Templates")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body" enter-key="vm.getTemplates()">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">@L("TemplateType")</label>
                                    <select class="form-control" ng-model="vm.requestParams.type">
                                        <option value="" selected="selected">@L("All")</option>
                                        @Html.Raw(ETemplateTypeUtils.GetCtrlStr(null))
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-default" ng-click="vm.getTemplates()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                            <button class="btn blue" ng-click="vm.addTemplate({extension:'@Template.DefaultExtension'})"><i class=" fa fa-refresh"></i> @L("AddTemplate")</button>
                        </div>
                    </div>
                </form>
            </div>

            <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
        </div>
    </div>
</div>
